<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>255215513371-bbgr11mjkl9pq0grlg7an07btkukj5vt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.255215513371-bbgr11mjkl9pq0grlg7an07btkukj5vt</string>
	<key>API_KEY</key>
	<string>AIzaSyCkhkyKPaPyNC-7q7Iuy8bHME1cyTYWSUU</string>
	<key>GCM_SENDER_ID</key>
	<string>255215513371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.groceryApp</string>
	<key>PROJECT_ID</key>
	<string>grocery-app-beb93</string>
	<key>STORAGE_BUCKET</key>
	<string>grocery-app-beb93.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:255215513371:ios:2a76d00187114947616dbe</string>
</dict>
</plist>